.main {
  margin-top: 10px;
}

.centered-text {
  color: #121212;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-style: italic;
}

.paragraph {
  color: #121212;
  width: 380px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-style: italic;
}

.logo-img {
  display: block;
  width: 380px;
  margin-right: auto;
  margin-left: auto;
  border: 3px solid #121212;
}

input {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 8px;
  border: 3px solid #121212;
  padding: 12px 12px 8px 8px;
  text-align: center;
  font-weight: bold;
}

button {
  color: white;
  background: #121212;
  display: block;
  width: 230px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 3px solid #121212;
  padding-right: 12px;
  padding-left: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}